In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stat
import scipy.cluster as cluster
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
REF_MAGASIN = pd.read_csv("REF_MAGASIN.csv", delimiter="|")
df = REF_MAGASIN
df.head()

,CODESOCIETE,VILLE,LIBELLEDEPARTEMENT,LIBELLEREGIONCOMMERCIALE
0,MET,METZ-TESSY,74,Rh么ne-Alpes
1,ALB,GILLY SUR ISERE,73,Rh么ne-Alpes
2,ALM,LES MILLES,13,Littoral
3,AVI,VILLENEUVE-LES-AVIGNON,30,Littoral
4,BEA,BEAUMONT,63,Centre-Paris

In [3]:
df.dtypes

CODESOCIETE                 object
VILLE                       object
LIBELLEDEPARTEMENT           int64
LIBELLEREGIONCOMMERCIALE    object
dtype: object

In [4]:
df.shape

(67, 4)

In [5]:
dup = df.duplicated().value_counts()
dup

False    67
dtype: int64

In [6]:
df.nunique()

CODESOCIETE                 67
VILLE                       67
LIBELLEDEPARTEMENT          34
LIBELLEREGIONCOMMERCIALE     5
dtype: int64