In [ ]:
import numpy as np
import pandas as pd
import scipy.stats as stat
import scipy.cluster as cluster
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
ENTETE = pd.read_csv("ENTETES_TICKET_V4.csv", delimiter="|")
df = ENTETE
df.head()

      IDTICKET             TIC_DATE MAG_CODE   IDCLIENT TIC_TOTALTTC
0  50100150510  2016-01-02 11:01:33      ALB  2995104.0         12,9
1  50100150511  2016-01-02 11:02:10      ALB  1411117.0       131,06
2  50100150515  2016-01-02 12:03:27      ALB   222592.0        34,69
3  50100150517  2016-01-02 14:23:21      ALB  2979958.0        97,58
4  50100150518  2016-01-02 14:26:53      ALB  2858676.0          4,7

### On remarque un clé commune MAG_CODE et MAGASIN dans la table CLIENT ; + ID CLIENT

In [4]:
df.dtypes

IDTICKET          int64
TIC_DATE         object
MAG_CODE         object
IDCLIENT        float64
TIC_TOTALTTC     object
dtype: object

In [7]:
df.shape

(6714173, 5)

In [8]:
df.MAG_CODE.unique()

array(['ALB', 'ALM', 'AVI', 'BEA', 'BEC', 'BLA', 'BRE', 'CLA', 'DIJ',
       'ECU', 'GAI', 'GEX', 'HAG', 'HEI', 'IAB', 'MAC', 'MET', 'MOB',
       'MOU', 'MUL', 'OBE', 'PON', 'PRI', 'QUE', 'RAV', 'SEM', 'SEY',
       'SGL', 'SSM', 'STE', 'THO', 'VAL', 'VAR', 'VIB', 'VIF', 'VIT',
       'VLG', 'VIC', 'FRV', 'SJV', 'SCH', 'SAL', 'LAB', 'PEP', 'SMR',
       'SUR', 'SNO', 'DUM', 'FEG', 'GAP', 'MAN', 'PEG', 'POC', 'EPN',
       'VEN', 'ORL', 'SMA', 'CLI', 'SLM', 'BAR', 'VIV', 'STR', 'NEV',
       'BSN', 'CAG', 'RMA'], dtype=object)

In [9]:
len(df.IDCLIENT.value_counts())

770163

## pas le même nombe de ID clients que dans descriptif client

In [11]:
dup = df.duplicated().value_counts()

In [12]:
dup

False    6714173
dtype: int64

In [14]:
df.TIC_TOTALTTC.describe()

count     6714173
unique      71567
top         19,95
freq        31879
Name: TIC_TOTALTTC, dtype: object

In [17]:
df.TIC_TOTALTTC.stats

AttributeError: 'Series' object has no attribute 'stats'

array([0, 1], dtype=int64)

array(['FR', 'CH', 'DE', 'BE', 'LU', 'GB', 'MC', 'ES', 'IT', nan, 'DZ',
       'AD', 'RO', 'NL', 'US', 'SE', 'FI', 'SZ', 'AT', 'RU', 'PL', 'AF',
       'CA', 'TN', 'BG', 'GR', 'JM', 'MA', 'GF', 'NO', 'AM', 'ZA', 'AE',
       'MT', 'DK', 'LA', 'UA', 'LK', 'MQ', 'LV', 'VN', 'JP', 'GA', 'TR',
       'GM', 'BR', 'PT', 'NC', 'SM'], dtype=object)

array(['74224', '74189', '63070', ..., '55507', '02420', '17172'],
      dtype=object)

### Répartition sur les dates à faire