In [2]:
import numpy as np
import pandas as pd
import scipy.stats as stat
import scipy.cluster as cluster
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
REF_ARTICLE = pd.read_csv("REF_ARTICLE.csv", delimiter="|")
df = REF_ARTICLE
df.head()

C:\Users\charl\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0,2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  CODEARTICLE CODEUNIVERS CODEFAMILLE CODESOUSFAMILLE
0      COUPON      COUPON      COUPON          COUPON
1        1001          U2         130          130040
2      100125          U1         010          010020
3      100150          U1         010          010020
4       10018          U1         100          100900

In [5]:
df.dtypes

CODEARTICLE        object
CODEUNIVERS        object
CODEFAMILLE        object
CODESOUSFAMILLE    object
dtype: object

In [6]:
df.shape

(665946, 4)

In [7]:
dup = df.duplicated().value_counts()
dup

False    665946
dtype: int64

In [9]:
df.nunique()

CODEARTICLE        665946
CODEUNIVERS             6
CODEFAMILLE            50
CODESOUSFAMILLE       630
dtype: int64

In [ ]:
Qu'est